{{!< default}}

{{#post}}

<div class="progress-container">
	<span class="progress-bar"></span>
</div>

<header id="post-header"{{#if feature_image}} class="has-cover" {{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @blog.logo}}
			<span class="blog-logo">
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			{{else}}
			<span id="home-button" class="nav-button">
				<a class="home-button" href="{{@blog.url}}" title="{{t "Home"}}"><i class="ic ic-arrow-left"></i> {{t "Home"}}</a>
			</span>
			{{/if}}
			{{#if @blog.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> {{t "Menu"}}</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="post-title">{{{title}}}</h1>
		<span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD. MMM YYYY"}}</time></span>
		{{#if feature_image}}<div class="post-cover cover" style="background-image: url('{{feature_image}}');"></div>{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{content}}
				
				<div id="disqus_thread"></div>
				<script>

				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

				var disqus_config = function () {
				this.page.url = '{{post.url}}';  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = '{{post.id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};

				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://embracetherain.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>	

            {{#if @labs.subscribers}}
            <section class="post-subscribe">
               <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>

		<div id="mc_embed_signup">
		<form action="https://embracetherain.us18.list-manage.com/subscribe/post?u=f050e9c536bed3a2ca2bbf2d2&amp;id=72db69b24c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Bleib über neue Beiträge informiert</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f050e9c536bed3a2ca2bbf2d2_72db69b24c" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="abonnieren" name="abonnieren" id="mc-embedded-subscribe" class="button"></div>
				</div>
		</form>
		</div>
            </section>
            {{/if}}
	    
		</div>
	</article>
</main>

{{/post}}
